<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.10" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="Scs" version="1.1.1" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net452" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net452" />
  <package id="VideoLAN.LibVLC.Windows" version="3.0.0-alpha3" targetFramework="net452" />
  <package id="Vlc.DotNet.Core" version="3.0.0-develop296" targetFramework="net452" />
  <package id="Vlc.DotNet.Core.Interops" version="3.0.0-develop296" targetFramework="net452" />
  <package id="Vlc.DotNet.Wpf" version="3.0.0-develop296" targetFramework="net452" />
  <package id="YoutubeExplode" version="4.2.3" targetFramework="net452" />
</packages>